doctype html
html(lang="en")
  head
    title htmx-notes
    link(href="/styles.css", rel="stylesheet")
  body
    .main
      section.col.sidebar
        section.sidebar-header
          img.logo(src='/images/logo.png' alt='' role='presentation' width='22px' height='20px')
          strong htmx Notes
        section.sidebar-menu(role='menubar')
          form.search(role='search')
            label.offscreen(for='sidebar-search-input') Search for a note by title
            input#sidebar-search-input(
            placeholder='Search' 
            name="query" 
            value='', 
            hx-post="/search", 
            hx-trigger="keyup delay:500ms"
            _="on htmx:beforeSend add .spinner--active to #search-spinner on htmx:afterOnLoad remove .spinner--active from #search-spinner"
            )
            #search-spinner.spinner(role='progressbar' aria-busy='true')
          button.edit-button.edit-button--solid(role='menuitem', hx-get="/new", hx-target="#note-viewer") New
        nav
          include _notes-list

      section#note-viewer.col.note-viewer
        include _loading
        include _empty

    script(src="https://unpkg.com/htmx.org@1.3.1")
    script(src="https://unpkg.com/hyperscript.org@0.0.8")
